{% extends "base_template.html" %}

{% block title %}
<title>Create Page</title>
{% endblock %}

{% block content %}
<h1 class="text-center">Create Page</h1>

<form action="{{ url_for('store') }}" method="post">
    <div class="mb-3">
        <label for="flowerName" class="form-label">Flower Name</label>
        <input type="text" class="form-control" id="flowerName" name="flowerName" placeholder="Enter flower name"
            required>
    </div>

    <div class="mb-3">
        <label for="flowerPrice" class="form-label">Flower Price</label>
        <input type="number" class="form-control" id="flowerPrice" name="flowerPrice" step="0.01" value="0.00">
    </div>

    <div class="mb-3">
        <label for="flowerPlace" class="form-label">Place</label>
        <select class="form-control" id="flowerPlace" name="flowerPlace">
            <option value="lotus">Lotus</option>
            <option value="big c">Big C</option>
            <option value="seven" selected>Seven</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="flowerDescription" class="form-label">Description</label>
        <textarea class="form-control" id="flowerDescription" name="flowerDescription" rows="5"></textarea>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>


</form>
{% endblock %}